/* * Wildcard rules, override browser defaults */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header{
    background-color: lightblue;
}

/* Main Body */
main{
    background-color: blue;
}

/* Footer */
footer{
    background-color: green;
}