/* * Wildcard rules, override browser defaults */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body Styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: #3a3a3a;
}

/* Header */
header{
    background-color: lightblue;
}

/* Main Body */
main{
    background-color: blue;
}

/* Footer */
footer{
    background-color: green;
    /* Make main element take up surplus space to push footer to bottom */
    flex: 1 0 auto;
}